/* Reset CSS */
/* Based on https://pawelgrzybek.com/the-css-reset-again/ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color-scheme: light dark;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  hanging-punctuation: first allow-end last;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

/* List style position*/
ul,
ol,
dl {
  list-style-position: inside;

  ul,
  ol,
  dl {
    padding-inline-start: 1lh;
  }
}
