name: Deploy demo to Github Pages

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  gh_pages:
    name: Deploy Storybook to GH Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version-file: '.tool-versions'
          cache: 'pnpm'
          registry-url: 'https://npm.pkg.github.com'

      - run: pnpm install
        env:
          NODE_AUTH_TOKEN: '${{ secrets.GITHUB_TOKEN }}'

      - run: pnpm run build

      # Copied from https://github.com/JamesIves/github-pages-deploy-action
      - name: GitHub Pages action
        uses: JamesIves/github-pages-deploy-action@v4.5.0
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: dist # The folder the action should deploy.
